@mixin serif-300 {
  font-family: 'Bitter', serif;
  font-weight: 300;
}

@mixin serif-400 {
  font-family: 'Bitter', serif;
  font-weight: 400;
}

@mixin sans-serif-300 {
  font-family: 'Inter', sans-serif;
  font-weight: 300;
}

@mixin cursive {
  font-family: 'Mali', cursive;
  font-weight: 400;
}
