<main>
  <div class="content">
    <header>
      <h1 class="title">Jiří Gracík</h1>
    </header>

    <section class="projects">
      <h2 class="title">Projects</h2>
      <span class="comment">// TODO</span>
    </section>

    <section class="social">
      <h2 class="title">Links</h2>
      <ul class="links">
        <li>
          <a href="https://gitlab.com/jirigracik">
            <img alt="gitlab" class="icon" src="assets/super-tiny-icons/gitlab.svg">
            @jirigracik
          </a>
        </li>
        <li>
          <a href="https://github.com/jirigracik">
            <img alt="github" class="icon" src="assets/super-tiny-icons/github.svg">
            @jirigracik
          </a>
        </li>
        <li>
          <a href="mailto:email@jirigracik.cz">
            <img alt="email" class="icon" src="assets/super-tiny-icons/email.svg">
            email@jirigracik.cz
          </a>
        </li>
      </ul>
    </section>
  </div>
</main>
