@import "../../../assets/fonts.scss";

main {
  padding: 1rem;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  flex-direction: column;
}

@mixin section {
  width: 100%;
  padding: 1rem 0;
  max-width: 600px;
  box-sizing: border-box;

  .title {
    @include cursive();
    color: #fff;
    text-decoration: underline;
    text-decoration-color: #EA215A;
    text-decoration-thickness: .125rem;
    text-decoration-style: dashed;
    text-underline-offset: .25rem;
  }
}

header {

  .title {
    @include serif-400();
    font-size: 3rem;
    color: #fff;
  }
}

.projects {
  @include section();

  .comment{
    @include cursive();
    color: #4eb634;
  }
}

.social {
  @include section();

  .icon {
    width: 2rem;
    border-radius: 50%;
    filter: grayscale(.3);
  }

  .links {
    @include serif-400();
    padding: 0;
    display: flex;
    align-items: center;

    a {
      color: #f0f0f0;
      transition: color .1s linear, text-decoration-color .1s linear;

      &:hover {
        color: #fff;
        text-decoration-color: rgba(#fff, .8);
      }

      display: inline-flex;
      align-items: center;
      text-decoration-color: rgba(#fff, .4);
      text-decoration-thickness: 1 / 16rem;
      text-underline-offset: .125rem;
    }

    li {
      padding: .5rem;
      list-style: none;

      .icon {
        margin-right: .5rem;
      }
    }
  }
}
