// @import url('https://fonts.googleapis.com/css2?family=Bitter:wght@300;400&family=Inter:wght@300&family=Marck+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@300;400&family=Inter:wght@300&family=Mali&display=swap');

html, body {
  padding: 0;
  margin: 0;
  width: 100%;
  background-color: #2a2a2a;
}
